@import "tailwindcss";

@theme {
  --color-background: rgba(255, 255, 255, 0.1);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --secondary: oklch(0.52 0.12 200);
  --primary: #547fd5;
  --muted-foreground: oklch(0.5 0.01 240);
}
